@font-face {
	font-family: 'Amplitude';
	src: url('Amplitude-Book.ttf') format('truetype');
}

@font-face {
	font-family: 'Amplitude Bold';
	src: url('Amplitude-Medium.ttf') format('truetype');
}

* {



}

html {
	outline: none;
	box-shadow: none;
	border: none;
}

body {
	font-family: Amplitude !important;
	font-size: 24px !important;
	color: #555555 !important;
	line-height: 1.5em;
	padding: 25px;
	margin: 0 auto;
	text-shadow: 1px 1px 2px #ffffff;
	position: relative;
	overflow: hidden !important;
	background: transparent !important;
	
}

#mw-panel, #mp-sister, #mp-lang, #footer-icons, #p-personal, #left-navigation, #p-views, #p-cactions, #mw-page-base, #articlecount, .editsection, .magnify, #mw-fr-revisiontag, .portlet, .tmbox-notice, .mbox-image, #featured-star, #good-star, #protected-icon, #siteSub, #jump-to-nav, h1#firstHeading, #catlinks, #footer, #mw-articlefeedback, #mw-head, .printfooter {
	display: none !important;
}

/* iPhone Portrait */
@media screen and (max-device-width: 640px) {

body { font-size: 24px !important; }

}

.dablink {
	font-size: 0.75em;
}

table#toc {
	display: none;
}

a {
	color: #ba0b0b;
	text-decoration: none;
}

table.infobox {
	float: right !important;
	right: 25px;
	padding: 15px;
	background: #fff;
	margin: 0 0 25px 25px;
	border-radius: 6px;
	border: 2px solid #cdcdcd;
	box-shadow: 0 0 4px #fff;
	font-size: 20px !important;
	width: 40% !important;
	overflow: hidden !important;
	-webkit-box-shadow:inset 0px 0px 4px rgba(0,0,0,.25) !important;
	word-wrap: break-word !important;
	max-width: 40% !important;
	table-layout: fixed !important;
	clear: right !important;
}

table.infobox tr {
	vertical-align: top !important;
}

table.infobox caption {
	display: none !important;
}

table.infobox.biography.vcard tbody tr:first-child {
	font-weight: bold !important;
	font-family: "Amplitude Bold" !important;
}

.plainlist ul {
	margin: 0 !important;
	padding: 0 !important;
}

.plainlist ul li {
	list-style: none !important;
}

blockquote, dl {
	font-style: italic !important;
}

h1, h2, h3, h4, h5, h6 {
	text-align: left !important;
	overflow: visible !important;
}

h2 span, h3 span {
	display: none;
}

h4 {
	margin-left: none !important;
	padding-left: none !important;
	text-indent: none !important;
}

h4 span:first-child {
	display: none !important;
}

h2 span.mw-headline {
	font-weight: normal !important;
	font-family: "Amplitude Bold" !important;
	
	font-size: 1em !important;
	display: block !important;
	margin-top: .25em !important;
	padding-bottom: 0.25em !important;
}

h2 span.mw-headline, h3 span.mw-headline {
	display: block !important;
	font-size: 1em !important;
	margin-top: .25em !important;
	padding-bottom: 0.25em !important;
	font-family: "Amplitude Bold" !important;
}

table.tracklist {
	font-size: 24px !important;
}

.thumb {
	font-size: 0.8em !important;
	line-height: 1.5em !important;
	background: none !important;
	margin: 25px 10px 0 25px !important;
	float: right !important;
	display: block !important;
	clear: right !important;
	direction: ltr !important;
	max-width: 96% !important;
	font-style: italic !important;
}

.thumb .thumbcaption {
	font-weight: bold !important;
	padding: 10px !important;
	padding-bottom: 0px !important;
}

.thumb img {
	-webkit-box-shadow: 0px 1px 5px rgba(0,0,0,.25) !important;
	padding: 10px !important;
	background: #ffffff !important;
}

.thumb.tright, .thumb.tleft {
	float: right !important;
	width: auto !important;
}

.portal {
	display: none;
}

.magnify {
	display: none;
}

table.metadata.plainlinks.ambox.ambox-style {
	display: none !important;
}

table.navbox, table.persondata {
	display: none !important;
}

.reflist.references-column-width, .refbegin.references-column-width, .reflist.references-column-count.references-column-count-4, reflist.references-column-count.references-column-count-2, reflist.references-column-count.references-column-count-3, .refbegin {
	-webkit-column-width: 100% !important;
	word-wrap: break-word !important;
	-webkit-column-count: 1 !important;
}

.reflist[style] {
	-webkit-column-count: 1 !important;
	list-style-type: none !important;
	word-wrap: break-word !important;
}

.reflist ol.references, .refbegin ul {
	-webkit-column-width: 100% !important;
	-webkit-column-count: 1 !important;
	list-style-type: none !important;
	word-wrap: break-word !important;
}

.refbegin, .refbegin ul {
	margin: 0 !important;
	padding: 0 !important;
}

ol.references {
	width: 100% !important;
	padding: 0 !important;
	margin: 0 !important;
	-webkit-column-count: 1 !important;
	list-style-type: none !important;
	word-wrap: break-word !important;
}

ol.references li, .refbegin ul li {
	padding: 15px !important;
	border-bottom: 1px dotted #cccccc !important;
	list-style-type: none !important;
	list-style: none !important;
	word-wrap: break-word !important;
	overflow-x: hidden !important;
	padding-left: 0 !important;
	padding-right: 0 !important;
}

ol.references li .mw-cite-backlink {
	display: none !important;
}

ol.references li ul {
	margin: 0 !important;
	padding: 0 !important;
}

ol.references li ul li:first-child {
	padding-top: 0 !important;
}

ol.references li ul li:last-child {
	padding-bottom: 0 !important;
	border-bottom: none !important;
}

.references-small {
	-webkit-column-width: 100% !important;
	-webkit-column-count: 1 !important;
}

sup {
	display: none !important;
}

.opentable {
	display: block;
	width: 100%;
	padding: 10px 0;
	border: 1px solid #cccccc;
	border-radius: 10px;
	color: #9b9b9b;
	margin-top: 25px;
	-webkit-box-sizing: border-box !important;
	padding-left: 15px !important;
}

a.opentable {
	-webkit-tap-highlight-color: rgba(0,0,0,0) !important;
	-webkit-touch-callout: none !important;
}

.opentable, .tablepopup {
	clear: right !important;
}

a.opentable.opened {
	border-bottom: none !important;
	border-bottom-left-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
}

a.opentable:hover, a.opentable:active {
	-webkit-touch-callout: none !important;
}

.tablepopup {
	height: auto !important;
	width: 100% !important;
	-webkit-overflow-scrolling: touch;
	-webkit-box-sizing: border-box !important;
	border: 1px solid #cccccc !important;
}

.tablepopup table {
	font-size: 24px !important;
	overflow-x: hidden !important;
	table-layout: fixed !important;
	border-collapse: collapse !important;
	-webkit-box-sizing: border-box !important;
	width: auto !important;
}

.tablepopup table caption {
	display: none !important;
}

table.wikitable tbody {
	border-collapse: collapse !important;
}

table.wikitable[border] {
	border: none !important;
}

table.wikitable tr {
	padding-top: 5px !important;
	padding-bottom: 5px !important;
	border-collapse: collapse !important;
}

table.wikitable td {
	width: auto !important;
	padding: 5px !important;
	vertical-align: top !important;
	white-space: pre-line !important;
	word-wrap: break-word !important;
	border-collapse: collapse !important;
	border: 1px solid #cccccc !important;
	border-bottom: none !important;
}

table.wikitable td:first-child {
	border-left: none !important;
}

table.wikitable th {
	background: #dddddd !important;
	padding: 5px !important;
	word-wrap: break-word !important;
	text-align: center !important;
	border-collapse: collapse !important;
	border: 1px solid #cccccc !important;
	border-right: none !important;
	border-left: none !important;
	border-bottom: none !important;
}

table.metadata.mbox-small.plainlinks, table.metadata.mbox-small {
	display: none !important;
}

table.multicol {
	font-size: 24px !important;
}

div.navFrame div {
	padding-left: 0 !important;
}

table.metadata.plainlinks.ambox {
	display: none !important;
}

table.cquote {
	font-size: 24px !important;
	font-style: italic !important;
}

table.metadata.plainlinks.stub {
	display: none !important;
}

table.vertical-navbox.nowraplinks {
	margin-top: 25px !important;
}

table.vertical-navbox.nowraplinks li {
	list-style: none !important;
}

.noprint.plainlinks.hlist.navbar.mini {
	display: none !important;
}

/* Gallery */
ul.gallery {
	padding: 0 !important;
	margin: 0 !important;
}

ul.gallery li {
	list-style: none !important;
	display: inline-block !important;
	width: 225px !important;
	margin-top: 25px !important;
}

li.gallerybox {
	padding: 0 !important;
}

li.gallerybox div {
	padding: 0 !important;
	margin: 0 !important;
}

li.gallerybox div div.thumb {
	text-align: center !important;
}

li.gallerybox div div.thumb img {
	margin-bottom: 15px !important;
}

.gallerytext {
	width: 154px !important;
}

.gallerytext p {
	padding: 10px 0 0 0 !important;
	margin: 0 !important;
	font-size: 0.75em !important;
	text-align: center !important;
	width: 154px !important;
	line-height: 100% !important;
}

/* Coords */

p > span > #coordinates {
	display: none !important;
}

/* Code */

pre {
	white-space: pre-wrap !important;
	word-wrap: break-word !important;
}

span.attribution {
	width: 100% !important;
	display: block !important;
	font-size: 0.6em !important;
	font-style: italic !important;
	text-align: center !important;
	padding-top: 25px !important;
	border-top: 1px dotted #cccccc !important;
}

a.external {
	white-space: pre-wrap !important;
	word-wrap: break-word !important;
	overflow: hidden !important;
}