@font-face {
	font-family: 'Amplitude';
	src: url('Amplitude-Book.otf') format('opentype');
}

html {
	background: #f2f2f2;
	outline: none;
	box-shadow: none;
	border: none;
}

body {
	font-family: Amplitude !important;
	font-size: 1.5em !important;
	color: #555555 !important;
	line-height: 1.5em;
	background: #f2f2f2;
	padding: 0 25px;
	margin: 0 auto;
	text-shadow: 2px 2px 4px #ffffff;
	position: relative;
}

.dablink {
	font-size: 0.75em;
}

table#toc {
	display: none;
}

a {
	color: #ba0b0b;
	text-decoration: none;
}

sup {
	display: none;
}

table.infobox {
	width: 400px;
	float: right;
	right: 25px;
	padding: 15px;
	background: #fff;
	margin: 0 0 0 25px;
	border-radius: 6px;
	border: 2px solid #cdcdcd;
	box-shadow: 0 0 4px #fff;
}

h2 span, h3 span {
	display: none;
}

h2 span.mw-headline, h3 span.mw-headline {
	display: block !important;
}

.thumb {
	font-size: 0.8em !important;
	line-height: 1.5em !important;
	float: right;
	padding: 15px;
	background: #fff;
	margin: 0 0 0 25px;
	border-radius: 6px;
	border: 2px solid #cdcdcd;
	box-shadow: 0 0 4px #fff;
}

.magnify {
	display: none;
}

table.metadata.plainlinks.ambox.ambox-style {
	display: none;
}